[submodule "assets/document-templates"]
	path = assets/document-templates
	url = https://github.com/ONLYOFFICE/document-templates
	branch = main/new-small
[submodule "lib/resources/document-formats"]
	path = lib/resources/document-formats
	url = https://github.com/ONLYOFFICE/document-formats
	branch = master
