<!--
(c) Copyright Ascensio System SIA 2023

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<div class="onlyoffice-banner">
  <div class="onlyoffice-banner__inner">
    <span class="onlyoffice-banner__logo"></span>
    <h4 class="onlyoffice-banner__heading">{{ banner_heading }}</h4>
    <p class="onlyoffice-banner__description">{{ banner_description }}</p>
    <a class="onlyoffice-banner-go" href="{{ banner_go_url }}" target="_blank">
      <span class="onlyoffice-banner-go__contents">{{ banner_go_label }}</span>
      <span class="onlyoffice-banner-go__pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="9" viewBox="0 0 10 9" aria-hidden="true">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.35355 4.14645C9.54882 4.34172 9.54882 4.6583 9.35355 4.85356L5.85355 8.35356L5.14645 7.64645L7.79289 5.00001L0.5 5.00001L0.5 4.00001L7.79289 4.00001L5.14645 1.35356L5.85355 0.646454L9.35355 4.14645Z" />
        </svg>
      </span>
    </a>
  </div>
</div>
