<table>
  <tbody>
    <tr>
      <th>Docs Address</th>
      <td>
        <input type="text" id="settings_oo_address" 
                           value="<%= settings['oo_address'] %>" 
                           name="settings[oo_address]" >
      </td>
    </tr>
  </tbody>
</table>
